@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
.over {
  z-index: 1;
}

.textCenter {
  text-align: center;
}

.hl {
  color: crimson;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: auto;
}

.pt-5 {
  padding-top: 5rem;
}

.closed {
  display: none !important;
}

.active {
  background-color: crimson !important;
}

.btn {
  outline: none;
  border: none;
  padding: 2rem;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-family: inherit;
}

.btn--primary {
  border: 4px solid white;
  background-color: transparent;
  color: white;
}

.btn--primary:hover {
  background-color: #112a3e;
}

.btn--secondary {
  color: white;
  background-color: #2a2a5c;
}

.btn--thirdary {
  color: white;
  background-color: #223f55;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.card {
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  -webkit-box-shadow: 5px 6px 9px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 6px 9px -2px rgba(0, 0, 0, 0.75);
}

.card:hover {
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  -webkit-box-shadow: 5px 6px 9px -2px black;
          box-shadow: 5px 6px 9px -2px black;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slide-btn {
  padding: 0.5rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 3rem;
  color: black;
  cursor: pointer;
}

.modal {
  max-width: 700px;
  width: 700px;
  opacity: 0;
  z-index: 100;
  -webkit-animation: fade-in 0.2s ease-in forwards;
          animation: fade-in 0.2s ease-in forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__carousel {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: black;
}

.modal__carousel img {
  width: 100%;
  max-width: 700px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal__carousel button {
  position: absolute;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.modal__carousel #prev {
  bottom: 50%;
  left: 0;
}

.modal__carousel #next {
  bottom: 50%;
  right: 0;
}

.modal__info {
  padding: 2rem;
  color: white;
  background-color: #061928;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.modal__info span {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.modal__info .button-group {
  width: 70%;
}

.modal__info .button-group a {
  border: 1px solid white;
  padding: 1rem;
}

.modal__info p {
  margin-bottom: 1rem;
}

.modal__close {
  border: none;
  outline: none;
  padding: 0.5rem;
  color: white;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  background-color: transparent;
  font-size: 2rem;
}

.backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 50;
  -webkit-animation: unfoldIn 0.7s;
          animation: unfoldIn 0.7s;
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    max-width: unset;
    width: 100%;
  }
  .modal img {
    height: 300px;
  }
}

.header {
  height: 100vh;
  overflow: hidden;
  background: #061928;
  color: white;
}

.header .btn {
  text-align: center;
  width: 60%;
  font-size: 1.6rem;
}

.header h2 {
  line-height: 1.5;
}

.header h2 span {
  letter-spacing: 1px;
}

.introduction {
  background-color: white;
}

.introduction__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  width: 80%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.introduction__container .card {
  margin: 2rem;
  min-width: 45rem;
  min-height: 30rem;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #061928;
}

.introduction__container .card__header {
  background-color: #112a3e;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.4rem 0;
}

.introduction__container .card__header h3 {
  margin: 0;
}

.introduction__container .card i {
  margin-right: 2rem;
  font-size: 4rem;
}

.introduction__container .card ul {
  font-size: 1.7rem;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.introduction__container .card ul li {
  margin: 1rem 0;
}

.gallery {
  background: #061928;
  color: white;
  padding-bottom: 20rem;
}

.gallery h2 {
  margin-bottom: 4rem;
}

.gallery__container {
  min-height: 80vh;
}

.gallery__container .filter-row {
  margin-bottom: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.gallery__container .filter-row .filter {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  background-color: #112a3e;
  font-size: 2rem;
  cursor: pointer;
}

.gallery__container .filter-row .filter:hover {
  background-color: crimson;
}

.gallery .projects {
  -ms-grid-columns: (35rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 35rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.gallery .project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 35rem;
}

.gallery .project__image {
  min-height: 35rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.4s -webkit-filter;
  transition: 0.4s -webkit-filter;
  transition: 0.4s filter;
  transition: 0.4s filter, 0.4s -webkit-filter;
}

.gallery .project:nth-child(1) .project__image {
  background: url(../images/gallery/sm.png);
  background-size: cover;
}

.gallery .project:nth-child(2) .project__image {
  background: url(../images/gallery/cmd.png) center no-repeat;
}

.gallery .project:nth-child(3) .project__image {
  background: url(../images/gallery/blog.png);
  background-size: cover;
}

.gallery .project:nth-child(4) .project__image {
  background: url(../images/gallery/forum.png) center center no-repeat;
  background-size: cover;
}

.gallery .project:nth-child(5) .project__image {
  background: url(../images/gallery/gram.png) center center no-repeat;
  background-size: cover;
}

.gallery .project:nth-child(6) .project__image {
  background: url(../images/gallery/trello.png) center center no-repeat;
  background-size: cover;
}

.gallery .project__text {
  width: 100%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery .project__text span {
  font-weight: bold;
  display: block;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.gallery .project__button {
  width: 50%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  bottom: 10rem;
  left: 0;
}

.gallery .project:hover .project__image {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

.gallery .project:hover .project__text {
  opacity: 1;
  top: 20%;
}

.gallery .project:hover .project__button {
  opacity: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: unset;
  visibility: visible;
}

.footer {
  min-height: 25rem;
  background-color: #061928;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.footer a {
  position: absolute;
  z-index: 2;
  padding: 5px;
  background-color: #112a3e;
  border: 2px solid white;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 3rem;
  top: -2rem;
}

.footer a i {
  color: white;
}

.footer__container {
  position: relative;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 100%, 0 100%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 100%, 0 100%, 0% 25%);
  height: 100%;
  width: 100%;
  background-color: #112a3e;
}

.footer__container p {
  color: white;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .introduction__container {
    width: 100%;
  }
  .introduction__container .card {
    min-width: unset;
    width: 100%;
  }
  .skills__container {
    width: 100%;
  }
  .skills .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.heading-2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.heading-3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.lead {
  font-size: 1.6rem;
  max-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: #061928;
}

section {
  padding: 5rem;
}

.canvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 400px) {
  section {
    padding: 0;
  }
}
