.btn {
  outline: none;
  border: none;
  padding: 2rem;
  cursor: pointer;
  transition: 0.3s all;
  font-family: inherit;
  &--primary {
    border: 4px solid white;
    background-color: transparent;
    color: white;
    &:hover {
      background-color: $btn-primary-hover;
    }
  }

  &--secondary {
    color: white;
    background-color: #2a2a5c;
  }

  &--thirdary {
    color: white;
    background-color: #223f55;
  }

  &:hover {
    transform: translateY(-0.3rem);
  }
  &:active {
    transform: translateY(0rem);
  }
}

.card {
  transition: 0.4s all;
  box-shadow: 5px 6px 9px -2px rgba(0, 0, 0, 0.75);
  &:hover {
    transform: translateY(-0.4rem);
    box-shadow: 5px 6px 9px -2px rgba(0, 0, 0, 1);
  }
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.modal {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  animation: fade-in 0.2s ease-in forwards;
  animation-delay: 0.7s;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 50;
  animation: unfoldIn 0.7s;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and(min-width: 600px) {
  .modal {
    top: 10%;
    bottom: 10%;
    left: 20%;
    right: 20%;
  }
}

@media only screen and(min-width: 1200px) {
  .modal {
    top: 10%;
    bottom: 10%;
    left: 20%;
    right: 20%;
  }
}
