.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: $dark-bg;
  color: white;
  .btn {
    text-align: center;
    width: 60%;
    font-size: 1.6rem;
  }
  h2 {
    line-height: 1.5;
    span {
      letter-spacing: 1px;
    }
  }
}

.introduction {
  &__container {
    justify-content: center;
    max-width: 1200px;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;

    .card {
      margin: 2rem;
      min-width: 45rem;
      min-height: 30rem;
      color: white;

      align-items: center;
      background-color: $dark-bg;

      &__header {
        background-color: $btn-primary-hover;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.4rem 0;
        h3 {
          margin: 0;
        }
      }

      i {
        margin-right: 2rem;
        font-size: 4rem;
      }

      ul {
        font-size: 1.7rem;
        margin-top: 1rem;
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        li {
          margin: 1rem 0;
        }
      }
    }
  }
}

.skills {
  background: $dark-bg;
  color: white;
  h2 {
    margin-bottom: 4rem;
  }
  &__container {
    .filter-row {
      margin-bottom: 5rem;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      .filter {
        transition: 0.3s all;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
        width: 20rem;
        background-color: $btn-primary-hover;
        font-size: 2rem;
        cursor: pointer;
        &:hover {
          background-color: crimson;
        }
      }
    }
  }
  .projects {
    grid-template-columns: repeat(auto-fill, 50rem);
    justify-content: center;
    gap: 1rem;
  }
  .project {
    display: flex;
    flex-direction: column;
    min-height: 50rem;
  }
}

@media screen and (max-width: 600px) {
  .introduction {
    &__container {
      width: 100%;
      .card {
        min-width: unset;
        width: 100%;
      }
    }
  }

  .skills {
    &__container {
      width: 100%;
    }
    .projects {
      grid-template-columns: 1fr;
    }
  }
}
