.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: $dark-bg;
  color: white;
  .btn {
    text-align: center;
    width: 60%;
    font-size: 1.6rem;
  }
  h2 {
    line-height: 1.5;
    span {
      letter-spacing: 1px;
    }
  }
}

.introduction {
  &__container {
    justify-content: center;
    max-width: 1200px;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;

    .card {
      align-items: center;
      &__header{
        background-color: $dark-bg;
        background-color: $btn-primary-hover;
        width: 100%;
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        padding: 1.4rem 0;
        h3 {
          margin: 0;
        }
      }
      margin: 2rem;
      min-width: 45rem;
      min-height: 30rem;
      color: white;
      background-color: $btn-primary-hover;
      background-color: $dark-bg;
      i {
        margin-right: 1rem;
        font-size: 4rem;
      }

      ul {
        margin-top: 1rem;
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 1.7rem;
        li {
          margin: 1rem 0;
        }
      }
    }
  }
}

.skills {
  background: $dark-bg;
  color: white;
}

@media screen and (max-width: 600px) {
  .introduction {
    &__container {
      width: 100%;
      .card {
        min-width: unset;
        width: 100%;
      }
    }
  }
}
